#intro-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 65%;
    height: 100vh;
}

#profile {
    width: 20rem;
}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#para-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 2rem;
    border-width: 1px;
    border-style: solid;
    color: rgb(255, 255, 255);
}

#bullet-point {
    margin-right: -20px;
    list-style-type: square;
    font-size: 30px;
    color: #4a5a49;
}

@media only screen and (max-width: 1382px) {
    #intro-container {
        min-height: 150vh;
    }
}