@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 23px;
}

body{
    background-color: #1E1E1E;
}

.title-text-1 {
    font-weight: 500;
    font-size: 40px;
} 

.title-text-2 {
    font-weight: 500;
    font-size: 40px;
    color:#4a5a49;
} 

.sub-text-1 {
    font-weight: 300;
    font-size: 17px;
    color: rgb(199, 199, 199);
}

.sub-text-2 {
    font-weight: 400;
    font-size: 19px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 8rem;
    height: 2.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: #4a5a49;
}

.section-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-section-container {
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
    height: 150px;
}

.line {
    width: 150px;
}

.link-button-2 {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #4a5a49;
    margin: 2px;
    text-decoration: none;
}

.link-button-2:hover {
    background-color: #4a5a49;
    border-color: rgb(199, 199, 199);
}

@media only screen and (max-width: 1382px) {
    * {
        transform: scale(.95);
    }
}